.album-header {
  margin-bottom: var(--space-xs);
}

.album-title {
  font-size: var(--space-lg);
  margin-bottom: var(--space-sm);
}

.album-meta-mobile p {
  margin: 0;
  margin-bottom: var(--space-md)
}
