body {
  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  padding: var(--space-sm);
  line-height: 1.6;
}

.page h1{
  margin: var(--space-xs);
}
