@import './tokens.css';
@import './base.css';
@import './navbar.css';
@import './buttons.css';
@import './tables.css';
@import './forms.css';
@import './modals.css';
@import './editable-fields.css';
@import './special-effects.css';
@import './rating-cells.css';
@import './settings.css';
@import './album-header.css';

.table-range-filter {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.table-interlude-filter {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}