.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white);
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  table-layout: auto;
}

.table th,
.table td {
  padding: 0.4rem 0.6rem;
  text-align: left;
  border-right: 1px solid var(--gray-200);
}

.table thead {
  background-color: var(--primary);
  color: var(--background);
}

.table tbody tr {
  border-top: 1px solid #eee;
}

.table tbody tr:hover {
  background-color: var(--gray-100);
}

.table td:last-child {
  text-align: right;
}

.table-header {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.4rem 0.6rem;
}

.table-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.table-filter-text {
  margin-top: 0.25rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: var(--space-sm);
  border: 1px solid #ccc;
  border-radius: var(--radius-sm);
  font-size: 0.9rem;
}

.table-filter-radio {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.table-range-filter {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.table-interlude-filter {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.table-cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.4rem 0.6rem;
}

.table-actions {
  display: flex;
  gap: var(--space-sm);
}

.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Smooth on iOS */
}

.table-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-md);
  gap: var(--space-md);
  height: 100%;
}

.table-toolbar-actions {
  display: flex;
  gap: var(--space-small);
  flex-wrap: wrap;
  height: 100%
}

.toolbar-actions {
  display: flex;
  gap: var(--space-md);
  height: 100%;
}

@media (max-width: 768px) {
  .table-cell {
    max-width: 120px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }

  .table th,
   table td {
    white-space: normal;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    width: auto
  }
}